$shadow-box-initial: 0px 2px 8px rgba(53, 53, 53, 0.2);
$shadow-box-darken: 0px 5px 10px rgba(53, 53, 53, 0);

$grey: #eaeaea;
$darkgrey: #353535;
$lightgrey: #f6f6f6;
$linearGradient: linear-gradient(#ff79da, #9356dc);
$purple: #9356dc;
$lightgreen: #99e2d0;
$green: #008766;
