@keyframes fade-out {
  0% {
    opacity: 0;
    width: 100vw;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll-card {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform-origin: right;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(1em);
  }
}

@keyframes shadow-box {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
    box-shadow: 0px 12px 8px rgba(53, 53, 53, 0.5);
  }
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.01);
  }
}
