@import 'colors';
@import 'buttons';
@import 'keyframes';

//*******PAGES MENU RESTAURANT********//

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.restaurant-menu {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
.menu-logo {
  display: flex;
  flex-direction: row;
  height: 80px;

  &__img {
    width: 162px;
    margin: auto;
  }
  &__icone {
    padding-top: 15px;
    font-size: 25px;
    padding-left: 28px;
    margin-top: 15px;
    color: $darkgrey;
  }
}
.restaurant-img {
  display: flex;
  width: 100%;
}
.menu-page__img {
  position: relative;
  width: 100%;
  height: 275px;
  object-fit: cover;
  align-self: stretch;
}
.menu-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightgrey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -25px;

  .menu-page__container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 45px;
  }
  .menu-page__restaurant-title {
    font-family: 'Shrikhand', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 40px;
  }
  .empty-heart {
    position: relative;
    font-size: 22px;
    margin-top: 40px;
    &:hover {
      opacity: 0;
    }
  }
  .full-heart {
    position: absolute;
    font-size: 22px;
    margin-top: 40px;
    padding-inline-start: 249px;
    opacity: 0;
    transition: all 1s;
    &:hover {
      opacity: 1;
      animation: heart 0.7s forwards;
      background-image: $linearGradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.section-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  width: 100%;
  .section-menu__title {
    width: 30px;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 15px;
    color: $darkgrey;
  }
  h2 {
    border-bottom: $lightgreen 2px solid;
    border-bottom-width: 3px;
  }
}
.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px;
  height: 70px;
  box-shadow: $shadow-box-initial;
  transform: translateX(20px);
  animation: scroll-card 4s forwards;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-play-state: running;
  animation-name: scroll-card;
}
.menu-card:hover .menu-card__check {
  transition: all 0.7s ease-in-out;
  animation: slide 0.7s forwards;
  width: 65px;
}

.menu-card__text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card__description {
  font-size: 14px;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-card__price {
  padding-top: 38px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bolder;
}
.menu-card__slide {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
.menu-card__check {
  width: 0;
  background-color: $lightgreen;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.checkmark {
  color: white;
  font-size: 20px;
  padding-left: 22px;
  padding-top: 24px;
}

// ******FOOTER******//
.footer {
  background-color: $darkgrey;
  padding-bottom: 30px;
}

.footer-logo__img {
  filter: invert(1);
  color: white;
  width: 130px;
  padding-top: 25px;
  padding-left: 25px;
}
ul {
  padding-left: 25px;
}
li {
  list-style: none;
}
.menu-footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  .menu-footer__action {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
  .menu-footer__action-icone {
    color: white;
  }
  .menu-footer__action-link {
    color: white;
  }
}

@media (min-width: 1024px) {
  .section-menu {
    width: 65%;
  }
  .menu-page__container {
    max-width: 1050px;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-logo__img {
    padding-top: 35px;
    padding-right: 60px;
  }
  .menu-footer {
    padding-top: 37px;
    padding-right: 35px;
  }
  .menu-footer__list {
    flex-direction: row;
  }
  li {
    padding-right: 15px;
  }
}
