@import 'colors';

//*******PAGES MENU********//

body {
  margin: 0;
}
.menu-logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  height: 76px;

  .menu-logo__img {
    width: 40%;
    height: 50px;
    display: block;
    margin: auto;
    padding-top: 25px;
  }
}

.menu-logo__icone {
  font-size: 25px;
  padding-left: 28px;
  margin-top: 20px;
  color: $darkgrey;
}

.menu-page__img {
  width: 100%;
  height: 350px;
}
.menu-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightgrey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  bottom: 52px;

  .menu-page__container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 45px;
  }
  .menu-page__restaurant-title {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    padding-left: 15px;
  }
  .menu-page__icone {
    padding-top: 20px;
    font-size: 25px;
    color: $darkgrey;
    transition: 400ms;
    &:hover {
      color: $purple;
    }
  }
}

.section-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  width: 100%;
  .section-menu__title {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 15px;
    color: $darkgrey;
  }
}
.menu-card {
  display: flex;
  flex-direction: row;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  .menu-card__text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .menu-card__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .menu-card__description {
    font-size: 14px;
    margin-top: 8px;
  }
  .menu-card__price {
    position: absolute;
    right: 50px;
    padding-top: 38px;
    font-size: 16px;
    font-weight: bolder;
  }
}
