@keyframes fade-out {
  0% {
    opacity: 0;
    width: 100vw;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scroll-card {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform-origin: right;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(1em);
  }
}
@keyframes shadow-box {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
    box-shadow: 0px 12px 8px rgba(53, 53, 53, 0.5);
  }
}
@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.01);
  }
}
.btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 2px 8px rgba(53, 53, 53, 0.2);
  background: linear-gradient(#ff79da, #9356dc);
  margin-left: 60px;
  margin-bottom: 58px;
  width: 200px;
  height: 50px;
  padding: 0px 15px;
  border: none;
  color: white;
  font-size: 14px;
  margin-right: 55px;
}
.btn-action:hover {
  filter: brightness(1.1);
  animation: shadow-box 0.7s ease-in forwards;
}

.fonction-btn__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fonction-btn__btn-text {
  width: 90%;
  height: 80px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 2px 8px rgba(53, 53, 53, 0.2);
}
.fonction-btn__btn-number {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  border: none;
  background-color: #9356dc;
  color: white;
  position: relative;
  left: 15px;
}
.fonction-btn__btn-icone {
  width: 50px;
  color: #353535;
}
.fonction-btn__btn-icone:hover {
  color: #9356dc;
}

@media (min-width: 1024px) {
  .fonction-btn__btn {
    width: 30%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
    width: 100vw;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scroll-card {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform-origin: right;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(1em);
  }
}
@keyframes shadow-box {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
    box-shadow: 0px 12px 8px rgba(53, 53, 53, 0.5);
  }
}
@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.01);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.restaurant-menu {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.menu-logo {
  display: flex;
  flex-direction: row;
  height: 80px;
}
.menu-logo__img {
  width: 162px;
  margin: auto;
}
.menu-logo__icone {
  padding-top: 15px;
  font-size: 25px;
  padding-left: 28px;
  margin-top: 15px;
  color: #353535;
}

.restaurant-img {
  display: flex;
  width: 100%;
}

.menu-page__img {
  position: relative;
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: stretch;
}

.menu-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -25px;
}
.menu-page__container .menu-page__container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
}
.menu-page__container .menu-page__restaurant-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 35px;
  padding-bottom: 40px;
}
.menu-page__container .empty-heart {
  position: relative;
  font-size: 22px;
  margin-top: 40px;
}
.menu-page__container .empty-heart:hover {
  opacity: 0;
}
.menu-page__container .full-heart {
  position: absolute;
  font-size: 22px;
  margin-top: 40px;
  padding-inline-start: 249px;
  opacity: 0;
  transition: all 1s;
}
.menu-page__container .full-heart:hover {
  opacity: 1;
  animation: heart 0.7s forwards;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  width: 100%;
}
.section-menu .section-menu__title {
  width: 30px;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 15px;
  color: #353535;
}
.section-menu h2 {
  border-bottom: #99e2d0 2px solid;
  border-bottom-width: 3px;
}

.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px;
  height: 70px;
  box-shadow: 0px 2px 8px rgba(53, 53, 53, 0.2);
  transform: translateX(20px);
  animation: scroll-card 4s forwards;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-play-state: running;
  animation-name: scroll-card;
}

.menu-card:hover .menu-card__check {
  transition: all 0.7s ease-in-out;
  animation: slide 0.7s forwards;
  width: 65px;
}

.menu-card__text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-card__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-card__description {
  font-size: 14px;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-card__price {
  padding-top: 38px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bolder;
}

.menu-card__slide {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.menu-card__check {
  width: 0;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.checkmark {
  color: white;
  font-size: 20px;
  padding-left: 22px;
  padding-top: 24px;
}

.footer {
  background-color: #353535;
  padding-bottom: 30px;
}

.footer-logo__img {
  filter: invert(1);
  color: white;
  width: 130px;
  padding-top: 25px;
  padding-left: 25px;
}

ul {
  padding-left: 25px;
}

li {
  list-style: none;
}

.menu-footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.menu-footer__list .menu-footer__action {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 11px;
}
.menu-footer__list .menu-footer__action-icone {
  color: white;
}
.menu-footer__list .menu-footer__action-link {
  color: white;
}

@media (min-width: 1024px) {
  .section-menu {
    width: 65%;
  }
  .menu-page__container {
    max-width: 1050px;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-logo__img {
    padding-top: 35px;
    padding-right: 60px;
  }
  .menu-footer {
    padding-top: 37px;
    padding-right: 35px;
  }
  .menu-footer__list {
    flex-direction: row;
  }
  li {
    padding-right: 15px;
  }
}/*# sourceMappingURL=page-restaurant.css.map */